@font-face{
	font-family: 'butler';
	src:url('police/Butler.woff') format('woff');
	
}
@font-face{
	font-family: 'butler-bold';
	src:url('police/Butler-Bold.woff') format('woff');
}
@font-face{
	font-family: 'butler-light';
	src:url('police/Butler-Light.woff') format('woff');
}

header
{
	border: outset; ;
	border-color: #d2d2d2;
	display: flex;
	height: 145px;
	align-items: center;
	justify-content: space-between;
	background-color: white;
}

footer
{
font-family: 'Butler';	
border: outset;
border-color: #d2d2d2;
height: 50px;
align-items: center;
display: flex;
justify-content: space-between;
background-color: white;


}

body
{
	background-color: #123E6A;
	display: flex;
	flex-direction: column;
	font-family: 'butler';
}

#connexion
{
	height: 500px;
	
	display: flex;
	justify-content: center;
}
fieldset 
{
  margin-bottom: 60px;
padding: 10px;
border: 0;
line-height: 2.5;
font-size: 1rem;
text-align: center;
color: #000;
text-shadow: 1px 1px 1px #000;
border-radius: 10px;
background-color: #d2d2d2;
margin-top: 50px;
width: 400px;
}

label {
  width: 110px;
  display: inline-block;
  vertical-align: middle;
  margin: 6px;
}
#renseigner
{
	border: outset; ;
	border-color: grey;
	
	
	width: auto;
	align-items: center;
	
	background-color: white;
}

.forfait
{
  margin-bottom: 15px;
  padding: 10px;
  background-color: #d2d2d2;
  font-family: 'butler-bold';
  width: 400px;

}
.horsforfait
{
  margin-bottom: 15px;
  padding: 10px;
  background-color: #d2d2d2;
  font-family: 'butler-bold';
  width: 500px;
  display: flex;
  justify-content: space-between;

}
.horsforfaitmodif
{
  margin-bottom: 15px;
  padding: 10px;
  background-color: #d2d2d2;
  font-family: 'butler-bold';
  width: 500px;
  display: flex;
  flex-direction: column;
  
}

.input
{
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #000;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #FFF;
  width: 200px;
} 
h1
{
  border: 0;
line-height: 2.5;
padding: 0 20px;
font-size: 1rem;
text-align: center;
color: #000;
text-shadow: 1px 1px 1px #fff;
border-radius: 10px;
background-color: #FFF;
width: 200px;
font-size: 25px;
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #123E6A;
  position: relative;
  top: 20px;
  left: 125px;
}

.bouton {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #123E6A;
  position: relative;
  right: 10px;
}

.centre
{
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #123E6A;
  position: relative;
  margin-left: auto;
    margin-right: auto;
    width: 6em
}

.box{
display: grid;
width: 540px;
grid-template-columns: 120px 120px 120px;
align-items: start;
justify-content: space-between;
margin-left: auto;
margin-right: auto;
}

legend{
border: 0;
line-height: 2.5;
padding: 0 20px;
font-size: 1rem;
text-align: center;
color: #fff;
text-shadow: 1px 1px 1px #000;
border-radius: 10px;
background-color: #123E6A;
position: relative;
display: grid;
width: 540px;
grid-template-columns: 120px 120px 120px;
align-items: start;
justify-content: space-between;
}

.mois {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #123E6A;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
}

h2
{
width: 540px;
}

.width {
  width: 210px;
}

.bouton:hover{
    cursor:pointer;
    background-color:#16599c;
}

.mois:hover{
    cursor:pointer;
    background-color:#16599c;
}
